set -u
docker build \
  --build-arg ENV=production \
  --build-arg SECRET_KEY_BASE=111 \
  --build-arg CUMULUS_REST_API=${CUMULUS_REST_API} \
  --build-arg DATABASE_PASSWORD=${DATABASE_PASSWORD} \
  --build-arg DATABASE_HOST=${DATABASE_HOST} \
  --build-arg EARTHDATA_USERNAME=${EARTHDATA_USERNAME} \
  --build-arg EARTHDATA_PASSWORD=${EARTHDATA_PASSWORD} \
  -f docker/app/Dockerfile -t maap-umf:production .

