# Values retrieved from SSM Parameter Store
# Prefix = /dit-umf
# Last update = Fri Sep 23 15:41:47 EDT 2022
# Parameters can be stored in parameter store

# Used for CDK app settings
UMF_STACK_STAGE="dit"
UMF_STACK_CERTIFICATE_ARN="arn:aws:acm:us-west-2:XXX:certificate/X"

# Passed to the ECS task definition as environment variables
CUMULUS_REST_API="https://xxx.execute-api.us-west-2.amazonaws.com/dev"
EARTHDATA_USERNAME='devseed'

# Secrets should be stored as secure strings in the parameter store
EARTHDATA_PASSWORD='xxx'
SECRET_KEY_BASE=foobarbaz
