<div class='nested-fields instrument_fields'>
  <p class='lead'>
    Instrument
  </p>
  <%= f.input :name %>
  <%= link_to_remove_association 'X', f, { class: 'btn btn-lg btn-danger resource_btn', role: 'button' } %>
</div>
