.stages {
	font-size: 0;
	text-align: justify;
	display: flex;
	justify-content: space-between;
}

input[type="radio"] {
	display: none;
}

.stages label {
	background: #ffffff;
	border: solid 5px #c0c0c0;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
  flex-direction: column;
  align-items: center;
	font-size: 0;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 50px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stages label:after {
	position: absolute;
	content: '\2713';
	color: var(--color-blue-light);
	display: inline-block;
	font-size: 1rem;
}
.stages label span {
	font-size: 0.9rem;
	color: var(--color-grey-light3);
	margin: 1rem;
	line-height: normal;
}

#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"],
#four:checked ~ .stages label[for="four"],
#five:checked ~ .stages label[for="five"],
#six:checked ~ .stages label[for="six"] {
	border-color: var(--color-blue-light);
}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="one"] ~ label,
#three:checked ~ .stages label[for="two"] ~ label,
#four:checked ~ .stages label[for="three"] ~ label,
#five:checked ~ .stages label[for="four"] ~ label,
#six:checked ~ .stages label[for="five"] ~ label {
	font-size: 1rem;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after,
#four:checked ~ .stages label[for="three"] ~ label:after,
#five:checked ~ .stages label[for="four"] ~ label:after,
#six:checked ~ .stages label[for="five"] ~ label:after {
	display: none;
}

.progress {
	background-color: var(--color-blue-light);
	display: inline-block;
	height: 5px;
	transform: translateY(-2.75em);
	transition: 0.3s;
	width: 0;
}

#two:checked ~ .progress {
	width: calc(100% / 5 * 1);
}

#three:checked ~ .progress {
	width: calc(100% / 5 * 2);
}

#four:checked ~ .progress {
	width: calc(100% / 5 * 3);
}

#five:checked ~ .progress {
	width: calc(100% / 5 * 4);
}

#six:checked ~ .progress {
	width: calc(100% / 5 * 5);
}

.panels div[data-panel] {
	display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"],
#four:checked ~ .panels [data-panel="four"],
#five:checked ~ .panels [data-panel="five"],
#six:checked ~ .panels [data-panel="six"] {
	display: block;
}

form {
	grid-column: 2/span 10;
	padding: 2rem;
}

.panels div[data-panel] {
	margin: 2em 0 0;
	padding: 1em 0 0;
	max-width: 40rem;
}
.form__cluster {
	display: flex;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-group + .form-group {
	margin-left: 2rem;
}

.form-section {
  display: none;
}

.form-section.current {
  display: inherit;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
	list-style: none;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}
li.parsley-required {
	padding: 0;
	text-indent: 0;
	font-family: "Open Sans",sans-serif;
}
li.parsley-required::before {
	content: '';
}

.parsley-errors-list.filled {
  opacity: 1;
}
